*{
  color:white;
}
main{
  background-color:rgba(10,12,27,255);
  width:100vw;
  height:40vh;
  padding: 20%;

}
section{
  width:80%;
  height:80%;
}
article{
  background-color:rgba(28,25,56,255);
  width:50%;
  height:100%;
  float:left;
}
img{
  width:50%;
  height:100%;
  float:left;
}
span{
  color:
}
